version: "3.9"
services:
  api:
    build: .
    volumes:
      - .:/app
    ports:
      - "9000:9000"
    environment:
      - SAPNWRFC_HOME=/usr/local/sap/nwrfcsdk
      - LD_LIBRARY_PATH=/usr/local/sap/nwrfcsdk/lib
